body { background: #aaa; }
#planet-form { padding: 5px; margin-bottom: 10px; }
.inputfield {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	background-color: #EAEAEA; 
	background: -moz-linear-gradient(top, #FFF, #EAEAEA); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA)); 
	border: 1px solid #CACACA; 
	color: #444; 
	font-size: 1.4em; 
	margin: 0 0 25px; 
	padding: 5px 9px; 
	width: 260px; 
} 
.inputfield:focus { 
	background: #FFF;
	-webkit-box-shadow: 0 0 25px #CCC; 
	-moz-box-shadow: 0 0 25px #ccc; 
	box-shadow: 0 0 25px #CCC; 
} 

#planet-table {
	background: #eee;
	padding: 5px;
}
h2 { font-size: 1.2em; margin: 5px; background: #ddd; padding: 5px; }
.planet { padding: 5px; font-weight: bold; float: left; }
.planet-data { padding: 5px; }
