body { background: #c33; font-family: Ubuntu; }
#planet-form { padding: 5px; margin: 10px 0; }
.logo { display: block; width: 300px; height: 100px; }
.inputfield {
	font-family: Ubuntu;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #EAEAEA;
	background: -moz-linear-gradient(top, #FFF, #EAEAEA);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
	border: 1px solid #CACACA;
	color: #444;
	font-size: 1.4em;
	padding: 5px 9px;
	width: 160px;
}
.inputfield:focus {
	background: #FFF;
	-webkit-box-shadow: 0 0 25px #CCC;
	-moz-box-shadow: 0 0 25px #ccc;
	box-shadow: 0 0 25px #CCC;
}

#planet-table {
	/*background: #000;*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #000), color-stop(1.0, #222));
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 7px;
	color: white;
	font-size: 1.2rem;
}
h2 { font-size: 1.2rem; color: white; margin: 5px; padding: 5px; }
.planet { padding: 5px; font-weight: bold;}
.planet span { padding: 5px; }
.planet span:after { content: ' kg'; };
.info { font-size: 0.75em; color: white; padding: 10px 0; text-align: center; }
.info a { color: white; }
.info a:hover { color: black; }
